@{
    ViewData["Title"] = "Device Specs";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Device Specs</h1>
    <h2 class="display-3">Expand internal knowledge of the Smart Devices</h2>
    
</div>
